HF_TOKEN=hf_your_huggingface_token_here
MODEL=Qwen/Qwen2.5-Coder-14B-Instruct-AWQ
MODEL_PARAMETERS="--host 0.0.0.0 --port 8000 --gpu-memory-utilization 0.81 --dtype auto --kv-cache-dtype fp8 --enforce-eager"
VLLM_API_KEY=your_api_key
TZ=UTC