BITWARDEN_DATA_DIR=/home/user/docker_data/bitwarden
BW_DOMAIN=vault.example.com
BW_INSTALLATION_ID=00000000-0000-0000-0000-000000000000
BW_INSTALLATION_KEY=replace-with-installation-key
DISABLE_USER_REGISTRATION=false
