DATA_DIR=/path/to/docker_data/authelia
TZ=Europe/Zurich
STORAGE_ENCRYPTION_KEY=your_storage_encryption_key_64_hex_chars
SESSION_SECRET=your_session_secret_256_hex_chars_optional
JWT_SECRET=your_jwt_secret_256_hex_chars
HMAC_SECRET=your_hmac_secret_32_hex_chars
HEADPLANE_CLIENT_SECRET=your_headplane_client_secret
HEADSCALE_CLIENT_SECRET=your_headscale_client_secret
FRANKMD_CLIENT_SECRET=your_frankmd_client_secret
JINLI_HOME_CLIENT_SECRET=your_jinli_home_client_secret