APP_DIR=/media/user/docker_data/chevereto
DATABASE_DIR=/media/user/docker_data/chevereto
MYSQL_ROOT_PASSWORD=some_password
MYSQL_DATABASE=chevereto_database
MYSQL_USER=chevereto_user
MYSQL_PASSWORD=chevereto_password
CHEVERETO_DB_HOST=database
CHEVERETO_DB_USER=chevereto_user
CHEVERETO_DB_PASS=chevereto_password
CHEVERETO_DB_NAME=chevereto_database
