DATABASE_DIR=/path/to/chevereto/database
APP_DIR=/path/to/chevereto
TZ=UTC
CHEVERETO_DB_HOST=database
CHEVERETO_DB_PORT=3306
CHEVERETO_DB_USER=chevereto
CHEVERETO_DB_PASS=your_password
CHEVERETO_DB_NAME=chevereto
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=chevereto
MYSQL_USER=chevereto
MYSQL_PASSWORD=your_password
