POSTGRES_USERNAME=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
APP_DATA=/path/to/docker_data/label-studio/appdata
DB_DATA=/path/to/docker_data/label-studio/dbdata
CSRF_TRUSTED_ORIGINS=https://your-domain.com
DJANGO_ALLOWED_HOSTS=your-domain.com
TZ=UTC