APP_DATA=/path/to/label-studio/appdata
DB_DATA=/path/to/label-studio/dbdata
TZ=UTC
CSRF_TRUSTED_ORIGINS=https://your-domain.com
DJANGO_ALLOWED_HOSTS=your-domain.com
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=your_password
