APP_DIR=/path/to/docker_data/nextcloud
DATABASE_DIR=/path/to/docker_data/nextcloud
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_PASSWORD=your_user_password
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
NEXTCLOUD_TRUSTED_DOMAINS=cloud.jinli.io
VIRTUAL_HOST=cloud.jinli.io
