DATABASE_DIR=/media/user/docker_data/nextcloud
APP_DIR=/media/user/docker_data/nextcloud
MYSQL_ROOT_PASSWORD=some_password
MYSQL_PASSWORD=password
MYSQL_DATABASE=nextcloud_database
MYSQL_USER=nextcloud_user
NEXTCLOUD_TRUSTED_DOMAINS=your.domain.name
VIRTUAL_HOST=your.domain.name
